.login-form {
    display:    block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form-search {
    display: inline-block;
}

.navbar {
    margin-top: 15pt;
}

.table-condensed {
    margin-top: 15pt;
}
