{% extends "layout.html" %}
{% block body %}
  {% from "_formhelpers.html" import render_field %}
    <form method=post action="{{ url_for('add_author') }}">
      <dl>
        {{ render_field(form.name) }}
      </dl>
      <p><input type=submit value="Add author"></p>
    </form>
{% endblock %}
