{% extends "layout.html" %}
{% block body %}
  {% from "_formhelpers.html" import render_field %}
    <form method=post action="{{ url_for('add_book') }}">
      <dl>
        {{ render_field(form.title) }}
        {{ render_field(form.authors) }}
      </dl>
      <p><input type=submit value="Add book"></p>
    </form>
{% endblock %}
