{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
{% if staff %}
<a class="btn" href="{{ url_for('add_author') }}">
   Add author
</a>
{% endif %}
<table class="table table-condensed">
  <tbody>
  {% for author in authors %}
    <tr>
      <td>{{ author.name }}</td>
      {% if staff %}
      <td>
        <a class="btn btn-mini btn-primary"
            href="{{ url_for('edit_author', author_id=author.id) }}">
            Edit
        </a>
        <a class="btn btn-mini btn-danger"
            href="{{ url_for('remove_author', author_id=author.id) }}">
            Remove
        </a>
      </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
