{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    {% if session.username %}
    <form class="form-search search-author">
      <div class="input-append">
        <input type="text" name="author" placeholder="Author" class="span2 search-query">
        <button type="submit" class="btn">Search</button>
      </div>
    </form>
    <form class="form-search search-book">
      <div class="input-append">
        <input type="text" name="book" placeholder="Book" class="span2 search-query">
        <button type="submit" class="btn">Search</button>
      </div>
    </form>

    {% endif %}
    {% if staff %}
    <a class="btn" href="{{ url_for('add_book') }}">
      Add book
    </a>
    {% endif %}
    <table class="table table-condensed">
      {% for book in books %}
        <tr>
          <td> {{ book.title }} </td>
          <td>
          {% for author in book.authors %}
           {{ author.name }}
          {% endfor %}
          </td>
          {% if staff %}
          <td>
            <a class="btn btn-mini btn-primary"
                    href="{{ url_for('edit_book', book_id=book.id) }}"
                    type="button">Edit</a>
            <a class="btn btn-mini btn-danger"
                href="{{ url_for('remove_book', book_id=book.id) }}"
                type="button">Remove
            </a>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
{% endblock %}
