{% extends "layout.html" %}
{% block body %}
  {% from "_formhelpers.html" import render_field %}
    <form method=post action="{{ url_for('edit_book', book_id=book.id) }}">
      <dl>
        {{ render_field(form.title) }}
        {{ render_field(form.authors) }}
      </dl>
      <p><input type=submit value="Edit book"></p>
      <a class="btn btn-small"
        href="{{ url_for('books') }}">Cancel</a>
    </form>
{% endblock %}
