{% extends "layout.html" %}
{% block body %}
  {% from "_formhelpers.html" import render_field %}
    <form method=post action="{{ url_for('edit_author', author_id=author.id) }}">
      <dl>
        {{ render_field(form.name) }}
      </dl>
      <p><input type=submit value="Edit book"></p>
      <a class="btn btn-small"
        href="{{ url_for('books') }}">Cancel</a>
    </form>
{% endblock %}
