{% extends "layout.html" %}
{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<div class="hero-unit">
  <h1>Hello, guys!</h1>
  <p>Welcome to simle library.</p>
  <p>
    <a class="btn btn-primary btn-large" href="{{ url_for('books') }}">
      Books
    </a>
  </p>
  <p>
    <a class="btn btn-primary btn-large" href="{{ url_for('authors') }}">
      Authors
    </a>
  </p>
</div>
{% endblock %}
