<!doctype html>
<title>Prom.ua</title>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<div class="container">
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="{{ url_for('index') }}">Library</a>
    <ul class="nav">
      <li><a href="{{ url_for('books') }}">Books</a></li>
      <li><a href="{{ url_for('authors') }}">Authors</a></li>
    </ul>
    <ul class="nav pull-right">
    {% if not session.username %}
        <li class='pull-right'><a>Anonymous</a></li>
        <li class='pull-right'><a class='pull-right' href="{{ url_for('login') }}">Login</a></li>
        <li class='pull-right'><a class='pull-right' href="{{ url_for('register') }}">Registration</a></li>
      {% else %}
        <li class='pull-right'><a>{{ session.username }}</a></li>
        <li class='pull-right'><a class='pull-right' href="{{ url_for('logout') }}">Logout</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% block body %}{% endblock %}
</div>
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
