{% extends "layout.html" %}
{% block body %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <div class="login-form">
    <h2>Login</h2>
      <form action="{{ url_for('login') }}" method=post>
        <p class="text-center">
            <dl>
              <dt>Username:
              <dd><input type=text name=username>
              <dt>Password:
              <dd><input type=password name=password>
              <dd><input type=submit value=Login>
            </dl>
        </p>
      </form>
  </div>
{% endblock %}
